<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/6.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenidos a Chacha´s App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>La aplicacion para realizar pedidos de las mejores empanadas en la ciudad de La Paz </p>
      </ion-card-content>
    </ion-card>
    <ion-content>
    
      <ion-chip>
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de pollo </ion-label>

      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip >
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita mixta(pollo-res) </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>
        
      <ion-chip>
        <ion-avatar>
          <img src="/assets/2.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de mariscos</ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>
  
      <ion-chip>
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de fricase  </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip>
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de charque </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip>
        <ion-avatar>
          <img src="/assets/3.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de jamon y queso </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip>
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de pizza </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip>
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de choclo con queso </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip>
        <ion-avatar>
          <img src="/assets/1.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de queso </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip>
        <ion-avatar>
          <img src="/assets/4.jpg">
        </ion-avatar>
        <ion-label>Empanada frita de dulce de leche </ion-label>
      </ion-chip>
      <ion-button float-right size="small" color ="secondary">Agregar</ion-button>

      <ion-chip #chip3>
        <ion-avatar>
          <img src="/assets/4.jpg">
        </ion-avatar>
        <ion-label>With Avatar</ion-label>
        <button ion-button clear color="dark" (click)="delete(chip3)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-chip>

</ion-content>
