<ion-header>
  DATOS DEL CLIENTE
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-row>
    <ion-col col-12 pager> 

          <ion-list  class="signupForm">

            <ion-item class="input1">
              <ion-icon name="md-contact"></ion-icon><ion-label floating>Nombre: </ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" nombre="fullName" ></ion-input>
            </ion-item>

            <ion-item class="input1">
              <ion-label floating>Apellido: </ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" apellido="apellido" ></ion-input>
            </ion-item>

            <ion-item class="input1">
          <ion-label floating>Nit</ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" nombre="fullName" ></ion-input>
            </ion-item>

            <ion-item class="input1">
              <ion-icon name="ios-call"></ion-icon><ion-label floating>Telefono: </ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" telefono="telefono" ></ion-input>
            </ion-item>

            <ion-item class="input1">
              <ion-icon name="md-home"></ion-icon><ion-label floating>Num.Casa/Edificio: </ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" num.casa="num.casa" ></ion-input>
            </ion-item>

            <ion-item class="input1">
              <ion-label floating>Num.Piso:</ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" num.piso="num.piso" ></ion-input>
            </ion-item>

            <ion-item class="input1">
              <ion-label floating>
                <ion-icon name="key"></ion-icon> Num.Departamento:</ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" num.departamento="num.departamento" ></ion-input>
            </ion-item>
           
            <ion-item class="input1">
              <ion-label floating>Descripcion Extra:</ion-label>
              <ion-input type="text" [(ngModel)]="userData.fullName" nombre="fullName" ></ion-input>
            </ion-item>

            <ion-item class="">
              <ion-label floating>
                  <ion-icon name="mail"></ion-icon>Email:</ion-label>
              <ion-input    [(ngModel)]="userData.email" pattern=""  type="Email" ></ion-input>

          </ion-item>


          <ion-item>
              <ion-label floating>
                <ion-icon name="lock"></ion-icon> 
                Password
              </ion-label>
              <ion-input   type="password" [(ngModel)]="userData.password" name="password" ></ion-input>
            </ion-item>


            <ion-item class="input2">

              <button class="regButton" type="submit" ion-button full round  (click)="doSignup()" >Sign Up</button>

            </ion-item>
          </ion-list>
                      </ion-col>
  </ion-row>
    
</ion-content>
