<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/empanada5.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenidos a Chacha´s App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>La aplicacion para realizar pedidos de las mejores empanadas en la ciudad de La Paz </p>
      </ion-card-content>
    </ion-card>
    <ion-content>
    
      <ion-chip>
        <ion-avatar>
          <img src="/assets/empanada3.svg">
        </ion-avatar>
        <ion-label>Empanada frita rellena con deliciosa carne de res </ion-label>
      </ion-chip>
      <ion-button float-right size="small">Agregar</ion-button>
        
      
  

</ion-content>
